  <h1>Blog Anónimo</h1>


  <p>Elige una opción</p><br>
  <div class="menu">
    <p>Crear un post <a href="/create"> Haz click </a><p>
    <p>Mostrar todos los posts <a href="/post_print"> Haz click </a> <p>  
    <p>Mostrar todos tags <a href="/tags"> Haz click </a> <p>    
  </div> 